{% extends 'base.html.twig' %}

{% block title %}
    Project - {% block project_title %}
    {% endblock %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets output='css/compiled/main.project.css' filter='cssrewrite'
        '@IndicateursBundle/Resources/public/css/datatables.min.css'
        '@IndicateursBundle/Resources/public/css/jquery.dataTables.min.css'
        '@IndicateursBundle/Resources/public/css/buttons.bootstrap.min.css'
        '@IndicateursBundle/Resources/public/css/buttons.dataTables.min.css'
        '@IndicateursBundle/Resources/public/css/dataTables.bootstrap.min.css'
        '@ProjectBundle/Resources/public/css/project.css'
        'css/bootstrap-datepicker.min.css'
        'css/bootstrap-datetimepicker.min.css'%}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block sousmenu %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="{% if (activeMenu is defined and activeMenu == 'activity') %} active{% endif %}"><a href="{{ path('activity_index') }}">Activité</a></li>
            <li class="{% if (activeMenu is defined and activeMenu == 'lot') %} active{% endif %}"><a href="{{ path('lot_index') }}">Lots</a></li>
            <li class="{% if (activeMenu is defined and activeMenu == 'project') %} active{% endif %}"><a href="{{ path('project_index') }}">Projets</a></li>
            <li class="{% if (activeMenu is defined and activeMenu == 'contact') %} active{% endif %}"><a href="{{ path('contact_index') }}">Contacts</a></li>
            <li class="{% if (activeMenu is defined and activeMenu == 'environnement') %} active{% endif %}"><a href="{{ path('environnement_index') }}">Environnements</a></li>

        </ul>
    </div>
{% endblock %}

{% block body %}
    {% block project_content %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {% block project_javascript %}
    {% endblock %}
    {% javascripts output='js/compiled/main.project.js'
        '@IndicateursBundle/Resources/public/js/datatables.min.js'
        '@IndicateursBundle/Resources/public/js/dataTables.bootstrap.min.js'
        '@IndicateursBundle/Resources/public/js/jquery.dataTables.min.js'
        '@IndicateursBundle/Resources/public/js/dataTables.buttons.min.js'
        '@IndicateursBundle/Resources/public/js/buttons.bootstrap.min.js'
        '@IndicateursBundle/Resources/public/js/buttons.html5.min.js'
        '@IndicateursBundle/Resources/public/js/buttons.print.min.js'
        '@IndicateursBundle/Resources/public/js/pdfmake.min.js'
        '@IndicateursBundle/Resources/public/js/vfs_fonts.js'
        '@IndicateursBundle/Resources/public/js/jszip.min.js'
        '@IndicateursBundle/Resources/public/js/buttons.flash.min.js'
        '@IndicateursBundle/Resources/public/js/moment.min.js'
        '@IndicateursBundle/Resources/public/js/moment-with-locales.min.js'
        '@IndicateursBundle/Resources/public/js/datetime-moment.js'
        '@IndicateursBundle/Resources/public/js/highcharts.js'
        '@IndicateursBundle/Resources/public/js/modules/exporting.js'
        '@ProjectBundle/Resources/public/js/manage_form.js'
        'js/bootstrap-datetimepicker.min.js'
        'js/bootstrap-datetimepicker.fr.js'
        'js/bootstrap-datepicker.min.js'
        'js/bootstrap-datepicker.fr.min.js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}