<script type="text/javascript">
    function getGraph{{ graph.id }}(datas){
        var request = $.ajax({
            url: "{{ graph.ajax.url }}",
            method: "GET",
            data: datas,
            dataType: "html"
        });

        request.done(function( data ) {
            $( "#{{ graph.id }}" ).html( data );
        });

        request.fail(function( jqXHR, textStatus ) {
            $( "#{{ graph.id }}" ).html( '<div class="alert alert-danger" role="alert">'+textStatus+'</div>' );
        });
    }
    addLoadEvent(getGraph{{ graph.id }});
</script>