<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% stylesheets output='css/compiled/main.css' filter='cssrewrite'
        'css/global.css'
        'css/animation.css'
        'css/bootstrap-theme.min.css'
        'css/bootstrap.min.css'%}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                {#<div class="">#}
                    {#<ul class="nav navbar-nav">#}
                        {#<li class="{% if (activeMenu is defined and activeMenu == 'homepage') %} active{% endif %}"><a href="{{ path('indicateurs_homepage') }}">Indicateurs</a></li>#}
                        {#<li class="{% if (activeMenu is defined and activeMenu == 'homepage') %} active{% endif %}"><a href="{{ path('project_homepage') }}">Projets</a></li>#}
                    {#</ul>#}
                {#</div>#}
                {% block sousmenu %}{% endblock %}
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% javascripts output='js/compiled/main.js'
        'js/global.js'
        'js/jquery-3.1.0.min.js'
        'js/bootstrap.min.js'%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
