<form method="POST" action="{{ url }}"  {{ form_enctype(form) }} id="projectForm">
    <div class="modal-body">
        <div class="form-group has-feedback {% if (form_errors(form.name) |length > 4) %}has-error{% endif %}">
            {{ form_label(form.name) }} :
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="form-group has-feedback {% if (form_errors(form.url) |length > 4) %}has-error{% endif %}">
            {{ form_label(form.url) }} :
            {{ form_widget(form.url, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.url) }}
        </div>
        <div class="form-group has-feedback {% if (form_errors(form.project) |length > 4) %}has-error{% endif %}">
            {{ form_label(form.project) }} :
            {{ form_widget(form.project, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.project) }}
        </div>
        <div class="form-group">
            {{ form_rest(form) }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <a type="submit" class="btn btn-primary" id="submitProject"><div class="ajaxScrollLoader" style="display:none"><div></div></div>Valider</a>
    </div>
</form>