<form method="POST" action="{{ url }}"  {{ form_enctype(form) }} id="projectForm">
    <div class="modal-body">
        <div class="form-group has-feedback {% if (form_errors(form.libelle) |length > 4) %}has-error{% endif %}">
            {{ form_label(form.libelle) }} :
            {{ form_widget(form.libelle, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.libelle) }}
        </div>
        <div class="form-group has-feedback {% if (form_errors(form.auteur) |length > 4) %}has-error{% endif %}">
            {{ form_label(form.auteur) }} :
            {{ form_widget(form.auteur, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.auteur) }}
        </div>
        <div class="form-group has-feedback {% if (form_errors(form.dateCreation) |length > 4) %}has-error{% endif %}">
            {{ form_label(form.dateCreation) }} :
            {{ form_widget(form.dateCreation, { 'attr': {'class': 'form-control form_datetime'} }) }}
            {{ form_errors(form.dateCreation) }}
        </div>
        <div class="form-group">
            {{ form_rest(form) }}
        </div>
    </div>
    <div class="modal-footer">
        {% if urldelete is defined %}<button type="button" class="btn btn-danger ac-del-row" id="deleteEntry" data-url="urldelete">Supprimer</button>{% endif %}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <a type="submit" class="btn btn-primary" id="submitProject"><div class="ajaxScrollLoader" style="display:none"><div></div></div>Valider</a>
    </div>
</form>