<div class="center-block text-center">
    <span>{{ count }}/{{ nbForfait }}</span>
</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ pourcent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pourcent }}%;">
        {{ pourcent }}%
    </div>
</div>