<div class="center-block text-center">
    <span>{{ nb }}/{{ total }}</span>
</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ pourcent }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em;width: {{ pourcent }}%;">
        {{ pourcent }}%
    </div>
</div>